<!--
/**
 * Copyright © 2018 Magenest. All rights reserved.
 * See COPYING.txt for license details.
 *
 * Magenest_Follow Up Email extension
 * NOTICE OF LICENSE
 *
 * @category Magenest
 * @package Magenest_Follow Up Email
 */
-->
<!--@subject {{trans "Order Product Review "}} @-->
{{template config_path="design/email/header_template"}}

{{trans "you ordered product review  "}}

<p>{{var customerName}}</p>

<p>{{var customerLastName}}</p>

<p>{{var orderProductsGrid|raw}}</p>

{{template config_path="design/email/footer_template"}}