<!--
/**
 * Copyright © 2018 Magenest. All rights reserved.
 * See COPYING.txt for license details.
 *
 * Magenest_Follow Up Email extension
 * NOTICE OF LICENSE
 *
 * @category Magenest
 * @package Magenest_Follow Up Email
 */
-->
<!--@subject {{trans "Related Products"}} @-->
<ul style='list-style: none; min-height: 100%; margin:0; padding: 0;'>
    <li class='related-products' style="float:left; margin: 0; display: inline;">
        {{var related_products}}
    </li>
    <li class='up-sell-products' style="float:left; margin: 0; display: inline;">
        {{var up_sell_products}}
    </li>
    <li class='cross-sell-products' style="float:left; margin: 0; display: inline;">
        {{var cross_sell_products}}
    </li>
    <li style="list-style:none; clear: both;"></li>
</ul>
