<!--
/**
 * Copyright © 2018 Magenest. All rights reserved.
 * See COPYING.txt for license details.
 *
 * Magenest_Follow Up Email extension
 * NOTICE OF LICENSE
 *
 * @category Magenest
 * @package Magenest_Follow Up Email
 */
-->
<!--@subject {{trans "Subscriber Customer "}} @-->
{{template config_path="design/email/header_template"}}

{{trans "You have been successfully subscribed to our newsletter."}}

<p>{{var customerName}}</p>

<p>{{var customerLastName}}</p>

{{template config_path="design/email/footer_template"}}