<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="../../../../../../lib/internal/Magento/Framework/ObjectManager/etc/config.xsd">
    <type name="Magento\Framework\View\Element\UiComponent\DataProvider\CollectionFactory">
        <arguments>
            <argument name="collections" xsi:type="array">
                <item name="unsubscriber_listing_data_source" xsi:type="string">Magenest\UltimateFollowupEmail\Model\ResourceModel\Unsubscriber\Grid\Collection</item>
            </argument>
        </arguments>
    </type>
    <type name="Magento\CatalogInventory\Model\Stock\Item">
        <plugin name="fue_wishlist_back_in_stock_listener" type="Magenest\UltimateFollowupEmail\Plugin\Stock\ItemBackInStock" />
    </type>
</config>
