<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="../../../../../../lib/internal/Magento/Framework/Event/etc/events.xsd">

    <event name="layout_load_before"> <!-- triggered right after layout is loaded -->
        <observer name="ultimatefollowupemail_layout_customer" instance="Magenest\UltimateFollowupEmail\Observer\Layout\Mobile" />
    </event>

</config>
